  <mat-menu #menu="matMenu">
    <button mat-menu-item>
      <mat-icon>dialpad</mat-icon>
      <span>Redial</span>
    </button>
    <button mat-menu-item disabled>
      <mat-icon>voicemail</mat-icon>
      <span>Check voicemail</span>
    </button>
    <button mat-menu-item>
      <mat-icon>notifications_off</mat-icon>
      <span>Disable alerts</span>
    </button>
  </mat-menu>

  <mat-toolbar color="primary">
      <mat-toolbar-row>
          <button mat-icon-button [matMenuTriggerFor]="menu">
              <mat-icon>more_vert</mat-icon>
            </button>          
        <span>Custom Toolbar</span>
      </mat-toolbar-row>
</mat-toolbar>    
  
<mat-card class="Register-card">
<div class="example-container">
    <form (ngSubmit)="onSubmit()" #userForm="ngForm">
  <mat-form-field>
    <input required matInput placeholder="Name" [(ngModel)]="user.name" name="name"
    #name="ngModel">
    <mat-error [hidden]="name.valid || name.pristine">Name is required</mat-error>
  </mat-form-field>
  
  <mat-form-field>
      <mat-select [(ngModel)]="user.gender" name="gender"
      #gender="ngModel">
        <mat-option value="None">Choose Gender</mat-option>
        <mat-option value="male">Male</mat-option>
        <mat-option value="female">Female</mat-option>
      </mat-select>
    </mat-form-field>  

  <mat-form-field>
    <textarea matInput [(ngModel)]="user.address" name="address"
    #address="ngModel" placeholder="Address"></textarea>
  </mat-form-field>
  
  <div class="button-row">
      <button [disabled]="!userForm.form.valid" mat-raised-button color="primary">Submit</button>
      <button mat-raised-button color="warn">Cancel</button>
</div>    
</form>
</div>
</mat-card>