.example-container {
    display: flex;
    flex-direction: column;
  }
  
  .example-container > * {
    width: 100%;
  }

  .container {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 5%
  }

  .button-row {
    width: 30%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .example-headers-align .mat-expansion-panel-header-title, 
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}